header,
footer {
    background-color: #0D3186;
}

header {
    font-family: "FranklinGothicDemi", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #F3F4F6;
}

a,
.btn-link {
    color: #0D3186;
}

body {
    background-color: #E5E5E5;
}

p {
    margin: 0;
}

.btn {
    color: #FFFFFF;
    background: #0D3186;
    border-radius: 4.8px;
}

.btn-link {
    color: #0D3186;
    background: none;
    text-decoration: none;
}

.btn-primary {
    background-color: #0D3186;
    border-color: #0D3186
}

h1 {
    color: #0D3186;
}

hr {
    border: 1px solid #0D3186;
}

.nav-link {
    color: #F3F4F6;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("./static/burger.svg");
}

.basket {
    position: relative;
}

.basket__count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;

    width: 13px;
    height: 13px;

    background-color: #F3F4F6;
    color: #0D3186;

    font-size: 9px;
    font-weight: 600;
}

.phone {
    display: flex;
    align-items: center;
    color: #F3F4F6;
}

.phone__legend {
    margin-left: 6px;
}

.arena-img,
.guarantee-img,
.vip-img,
.gift-img,
.event-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 350px;
    margin: 0 auto;
}

.top-blanket {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
}

.event-img--mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 350px;
    margin: 0 auto;
}

.event-img--mobile__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 28px 0;
}

.event-img--mobile__top img {
    width: 100px;
    height: 100px;
}

.arena-img {
    background: url('./static/content/arena.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.guarantee-img {
    background: url('./static/content/guaranteehead.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.vip-img {
    background: url('./static/content/viphead.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.gift-img {
    background: url('./static/content/gifthead.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.event-img--mobile {
    background: url('./static/content/event.png') no-repeat;
}

.event-img {
    display: flex;
    flex-direction: column;
    background: url('./static/content/event.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.event-img img {
    max-width: 115px;
    max-height: 115px;
}

.arena-img__title,
.guarantee-img__title,
.vip-img__title,
.gift-img__title {
    background: linear-gradient(270.09deg, rgba(255, 255, 255, 0) -0.7%, #FFFFFF 56.95%, rgba(255, 255, 255, 0) 99.92%);
    min-width: 270px;
    text-align: center;

    font-weight: 900;
    font-size: 24px;
    line-height: 26px;

    font-family: "GeometriaBold", Fallback, 'sans-serif';
}

.list-group-item {
    padding: 16px 0;
    background: none;
    border: none;
}

.list-group-item a {
    padding: 0;
}

.footer__description {
    color: #D9DBE1;
}

.pay-block {
    display: flex;
    flex-wrap: wrap;
}

.pay-block img {
    display: block;
    margin: 6px 3px;
}

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: calc(100vh - 432px);
    background-color: #F3F4F6;
}

.form {
    width: 445px;
}

.afisha-link {
    position: relative;
}

.afisha-link__border {
    display: none;
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: -24px;
    background-color: #0D3186;
}

.afisha-link a {
    color: #565656;
}

.afisha-link a:hover+.afisha-link__border {
    display: block;
}

.afisha-link--active>.afisha-link__border {
    display: block;
}

.afisha-link--active>a {
    color: #0D3186;
}

.basket-table thead tr th {
    border: none !important;
}

.basket-table tbody tr {
    border-bottom: 1px solid #0D3186 !important;
}

.basket-table__count--mobile {
    display: none;
}

.safe-deal-text {
    font-family: "FranklinGothicDemi", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #007C05;
}

.main__arena {
    max-width: 350px;
}


/* the slides */
.slick-slide {
    margin: 0 10px;
}

.main-top-carousel {
    max-width: 1440px;
    margin: 0 auto;
}

.main-top-carousel .slick-slide {
    margin: 0;
}

/* the parent */
.slick-list {
    margin: 0 -10px;
}

.slick-prev:before,
.slick-next:before {
    color: #0D3186 !important;
    font-size: 30px !important;
}

.about-drop-menu {
    background-color: #0D3186;
}

.about-drop-menu .dropdown-item {
    color: #fff !important;
}

.about-drop-menu .dropdown-item:hover {
    background-color: #fff !important;
    color: #0D3186 !important;
}

.main-top-carousel__item {
    position: relative;
    min-height: 414px !important;
}

.main-top-carousel__img {
    position: absolute;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.slick-slide:not(.slick-current) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    background-size: contain;
}

.main-top-carousel__frame {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 26px;
}

/* pp layouts start */

/* arena */
.arena-info {
    font-family: 'Manrope', Fallback, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #000000;
}

.arena-info__container {
    margin: 115px 0 108px 0;
}

.arena-info__descrption--p2 {
    margin: 27px 0 40px 0;
}

.arena-info__img {
    height: 100%;
}

.arena-info__img img {
    height: 100%;
}

/* arena end */


/* news start */
.news__title {
    margin: 57px 0 34px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    color: #0D3186;
}

.news-card__title {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #333333;
    margin: 0;
}

.news-card__text {
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #565656;
}

.news-card__link {
    display: block;
    margin-top: 18px;
    font-size: 14px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #0D3186;
}

.news-card .card-body {
    padding: 8px 22px 25px 22px;
}

.news__more {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 41px 0 80px 0;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
}

.content__news-card {
    margin-bottom: 66px;
}

/* news end */

.event-img__title {
    text-align: center;
    max-width: 755px;
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #0D3186;
    background: linear-gradient(270.09deg, rgba(255, 255, 255, 0) -0.7%, #FFFFFF 56.95%, rgba(255, 255, 255, 0) 99.92%);
}

.event-question {
    display: flex;
    flex-direction: column;
}

.event-question--mobile {
    display: none;
}


.event-question__top {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.event-question__left {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 12px;
}

.event-question__left .event-question__circle {
    margin-right: 0;
}

.event-question__left .event-question__line {
    width: 2px;
    height: 100%;
    background: url('./static/content/line-vertical.png') repeat;
}

.event-question__circle {
    min-width: 24px;
    height: 24px;
    background-color: #0D3186;
    border-radius: 50%;
    margin-right: 24px;
}

.event-question__head {
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    color: #18191F;
}

.event-question__description {
    font-size: 15px;
    line-height: 26px;
    color: #18191F;
}

.event-question__line {
    width: 100%;
    height: 2px;
    background: url('./static/content/event-dot-line.png') repeat;
}

.event-secondary-title {
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #0D3186;
}

.event__event-secondary-title {
    margin-top: 82px;
    margin-bottom: 35px;
}

.event-tickets-cost__container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.event-tickets-cost__elem {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    background: none;
    border: none;
    font-feature-settings: 'liga'off;
    color: #565656;
}

.event-tickets-cost__elem::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
}

.event-tickets-cost__elem--low::before {
    background-color: #FF0000;
}

.event-tickets-cost__elem--medium::before {
    background-color: #FF7A00;
}

.event-tickets-cost__elem--high::before {
    background-color: #03A81D;
}

.event-tickets-cost__elem--large::before {
    background-color: #0D3186;
}

.event-tickets-cost__elem--sold::before {
    background-color: #B4B4B4;
}

.event-btn-list {
    color: #fff;
    background-color: #0D3186;
    border: 1px solid #0D3186;
    border-radius: 5px;
}

.event-btn-list__container {
    padding: 8px 13px;
}

.event-show__container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.event-description__text {
    margin: 72px 0 100px 0
}

.event-people-now__container {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 23px;
    color: #0D3186;
}

.event-stadium {
    position: relative;
}

.event-stadium__mini-map {
    position: absolute;
    top: 0;
    right: 0;
}

.event-stadium__btns {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0;
}

.tickets {
    width: 202px;
}

.event-ticket {
    border-bottom: 1px solid #A4B6F3;
}

.event-stadium__tickets {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FFFFFF;
    border: 1px solid #0D3186;
}

.event-stadium__main-map {
    margin: 35px 0 37px 0;
}

.event-ticket__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tickets__container {
    padding: 16px 11px;
}

.event-ticket__head {
    margin: 0;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.event-ticket__body {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.event-ticket__remove {
    display: flex;
    align-items: center;
    background: none;
    border: none
}

.tickets__event-ticket {
    margin-bottom: 16px;
}

.tickets__event-ticket:last-child {
    margin-bottom: 0;
}

.event-ticket__legend {
    font-size: 12px;
    line-height: 14px;
    color: #0D3186;
}

.event-sector,
.event-place {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 4.8px;
}

.event-sector__container,
.event-place__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7.5px 0 7.5px 29px;
}

.event-places__container {
    padding: 0px 16px 8px 16px;
}

.event-sectors__event-place {
    margin-bottom: 8px
}

.event-places__link {
    margin-top: -8px
}

.event-sector__number {
    min-width: 120px;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #0D3186;
}

.event-sector__places {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #AAAAAA;
}

.event-sector__btn,
.event-place__btn {
    display: flex;
    align-items: center;
    min-width: 163px;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 8.5px 20px;
    font-size: 12px;
    line-height: 23px;
    color: #0D3186;
    border: 1px solid #0D3186;
}

.event-sector__btn--none {
    color: #fff;
    background-color: #565656;
}

.event-sectors__event-sector {
    margin-bottom: 10px;
}

.event-place__number {
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #0D3186;
}

.event-place__places {
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #565656;
    margin-left: 24px;
}

.event-all-place-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    color: #fff;
    background-color: #0D3186;
    border-radius: 4.8px;
}

.event-all-place-link__container {
    padding: 8px 16px;
}

.arena-info__descrption--p1 {
    margin-top: 42px;
}


.arena-info__descrption--p3 {
    margin-bottom: 52px;
}

.main-top-carousel-container {
    background-color: #F3F4F6;
}

.main-top-carousel__btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;

    transform: scale(1);
    transition: 0.4s;
}


.main-top-carousel__btn:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.main-top-carousel__btn--prev {
    bottom: 105px;
    left: 180px;
    z-index: 99999;
}

.main-top-carousel__btn--next {
    top: 85px;
    left: 180px;
}

.main-top-carousel__counter {
    position: absolute;
    top: 185px;
    left: 185px;
    color: #F3F4F6;
    font-size: 18px;
    line-height: 26px;
}

.form-gift__btn,
.form-vip__btn {
    max-width: 175px;
    margin: 0 auto;
    font-family: "FranklinGothicDemi", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}

.guarantee-list {
    list-style-type: none;
    padding: 0;
}

.guarantee-list li::before {
    content: "-";
}

.contacts-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0D3186;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.contacts-address__item {
    margin-top: 4px;
}

.contacts-address__item:first-child {
    margin-top: 16px;
}

.contacts-extra-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    color: #565656;
}

.contacts-extra-info__item {
    margin-top: 4px;
}

.contacts-extra-info__item:first-child {
    margin-top: 16px;
}

.main-top-carousel__item:not(.slick-current) div+div {
    display: none;
}

.afisha-card {
    border: none;
}

.afisha-entartainment-btn {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #0D3186;
}

.news-carousel__btn {
    background: none;
    border: none;
}

.news-carousel__btn--next {
    transform: rotate(180deg);
}

.news-carousel {
    display: flex !important;
}

.vip-description {
    font-family: "Manrope", Fallback, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    /* or 173% */

    font-feature-settings: 'liga'off;

    /* черно-серый */

    color: #565656;
}

.title--response {
    font-family: "GeometriaBold", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    color: #565656;
}

.guarantee--description {
    font-family: "FranklinGothicMedium", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.guarantee--title-secondary {
    font-family: "FranklinGothicDemi", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.guarantee--description-second {
    font-family: "Manrope", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #000000;
}

.thanks--title {
    font-family: "GeometriaBold", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #0D3186;
}

.thanks--answer {
    font-family: "Manrope", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #565656;
}

.checkout--main-title {
    font-family: "GeometriaBold", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    color: #0D3186;
}

.checkout--secondary-title {
    font-family: "FranklinGothicDemi", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #565656;
}

.checkout--control-text {
    font-family: "Manrope", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #BDBDBD;
}

.checkout--label-text {
    font-family: "Manrope", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #0D3186;
}

.checkout--form-description {
    font-family: "Manrope", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #565656;
}

.checkout--btn {
    font-family: "FranklinGothicDemi", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.basket--main-title {
    font-family: "GeometriaBold", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    color: #0D3186;
}

.basket--col-title {
    font-family: "FranklinGothicDemi", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #565656;
}

.basket--product-title {
    font-family: "Manrope", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    font-feature-settings: 'liga'off;
    color: #565656;
}

.basket--product-extra-info {
    font-family: "FranklinGothicDemi", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #565656;
}

.basket--place-title {
    font-family: "FranklinGothicMedium", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #565656;
}

.basket--btn-title {
    font-family: "FranklinGothicDemi", Fallback, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

/* pp layouts end */

@media (max-width: 575px) {
    .main__img--small-gap {
        margin-top: 24px;
    }

    /* 
    .main-top-carousel__item {
        height: 280px !important;
    } */

    .arena-info__descrption--p1,
    .arena-info__descrption--p2,
    .arena-info__descrption--p3 {
        margin: 0;
        margin-bottom: 14px;
    }

    .arena-info__descrption--p1 {
        margin-top: 14px;
    }

    .arena-info__container {
        margin: 32px 0;
    }

    .content__news-card {
        margin-bottom: 32px;
    }

    .event-sectors__event-sector {
        flex-direction: column;
    }

    .event-sectors__event-place {
        flex-direction: column;
    }

    .main-top-carousel__counter {
        display: none;
    }

    .afisha-link__border {
        bottom: -2px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .arena-info__img {
        margin-bottom: 38px;
    }

    .arena-info__container {
        margin: 115px 0 72px 0;
    }

    .main-top-carousel__btn--prev {
        bottom: 95px;
        left: 10px;
    }

    .main-top-carousel__btn--next {
        top: 75px;
        left: 10px;
    }

    .main-top-carousel__counter {
        top: 185px;
        left: 15px;
    }

    .afisha-link__border {
        bottom: -2px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .afisha-link__border {
        display: none !important;
    }

    .afisha-links-container {
        display: flex;
        justify-content: center;
    }

    .news-carousel .slick-list {
        padding: 0 20% 0 0 !important;
    }

    .arena-info__img {
        margin-bottom: 42px;
    }

    .main-top-carousel__btn--prev {
        bottom: 105px;
        left: 30px;
    }

    .main-top-carousel__btn--next {
        top: 85px;
        left: 30px;
    }

    .main-top-carousel__counter {
        top: 185px;
        left: 35px;
    }


}

@media (min-width: 992px) and (max-width: 1439px) {

    .main-top-carousel__btn--prev {
        bottom: 105px;
        left: 20px;
    }

    .main-top-carousel__btn--next {
        top: 85px;
        left: 20px;
    }

    .main-top-carousel__counter {
        top: 195px;
        left: 25px;
    }

    .arena-info__descrption--p1,
    .arena-info__descrption--p2,
    .arena-info__descrption--p3 {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .event-question--mobile {
        display: flex;
    }

    .event-question {
        display: none;
    }

    .container__event-question--mobile {
        margin-bottom: 30px;
    }

    .event-img--mobile {
        display: flex;
    }

    .event-img {
        display: none;
    }
}

@media (max-width: 991px) {
    .event-stadium {
        display: none;
    }

    .event-tickets-cost {
        display: none;
    }
}

@media (max-width: 1199px) {
    .basket-table__count {
        display: none;
    }

    .basket-table__count--mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(min-width: 1440px) {

    .arena-info__descrption--p1 {
        margin: 0;
    }
}

/* FONTS */

@font-face {
    font-family: 'Manrope';
    src: url('./static/fonts/manrope_regular.eot');
    src: url('./static/fonts/manrope_regular.eot?#iefix') format('embedded-opentype'),
        url('./static/fonts/manrope_regular.woff2') format('woff2'),
        url('./static/fonts/manrope_regular.woff') format('woff'),
        url('./static/fonts/manrope_regular.ttf') format('truetype'),
        url('./static/fonts/manrope_regular.svg') format('svg');
}

@font-face {
    font-family: 'GeometriaLight';
    src: url('./static/fonts/geometria-light.eot');
    src: url('./static/fonts/geometria-light.eot?#iefix') format('embedded-opentype'),
        url('./static/fonts/geometria-light.woff2') format('woff2'),
        url('./static/fonts/geometria-light.woff') format('woff'),
        url('./static/fonts/geometria-light.ttf') format('truetype'),
        url('./static/fonts/geometria-light.svg') format('svg');
}

@font-face {
    font-family: 'GeometriaBold';
    src: url('./static/fonts/geometria-bold.eot');
    src: url('./static/fonts/geometria-bold.eot?#iefix') format('embedded-opentype'),
        url('./static/fonts/geometria-bold.woff2') format('woff2'),
        url('./static/fonts/geometria-bold.woff') format('woff'),
        url('./static/fonts/geometria-bold.ttf') format('truetype'),
        url('./static/fonts/geometria-bold.svg') format('svg');
}

@font-face {
    font-family: 'FranklinGothicMedium';
    src: url('./static/fonts/franklin_gothic_medium.eot');
    src: url('./static/fonts/franklin_gothic_medium.eot?#iefix') format('embedded-opentype'),
        url('./static/fonts/franklin_gothic_medium.woff2') format('woff2'),
        url('./static/fonts/franklin_gothic_medium.woff') format('woff'),
        url('./static/fonts/franklin_gothic_medium.ttf') format('truetype'),
        url('./static/fonts/franklin_gothic_medium.svg') format('svg');
}

@font-face {
    font-family: 'FranklinGothicDemi';
    src: url('./static/fonts/franklin_gothic_demi.eot');
    src: url('./static/fonts/franklin_gothic_demi.eot?#iefix') format('embedded-opentype'),
        url('./static/fonts/franklin_gothic_demi.woff2') format('woff2'),
        url('./static/fonts/franklin_gothic_demi.woff') format('woff'),
        url('./static/fonts/franklin_gothic_demi.ttf') format('truetype'),
        url('./static/fonts/franklin_gothic_demi.svg') format('svg');
}